stream {
  display: table;
  border: none;
  border-spacing: 0;

  .cell {
    display: table-cell;
    vertical-align: middle;

    width: 100%;

    video {
      position: absolute;

      top: 0%;
      left: 0%;
      bottom: 0%;
      right: 0%;

      width: 100%;

      max-height: 100%;

      margin: auto;
    }
  }

  .stream-controls {
    position: absolute;

    padding-left: 0.25em;

    font-size: xx-large;

    span {
      position: relative;
      bottom: 0;
    }

    .volume-off {
      color: #933;
      text-shadow: 0px 0px 10px #300;
    }

    .volume-on {
      color: #393;
      text-shadow: 0px 0px 10px #030;
    }
  }
}