<div ng-show="haveSize" class="have-size">
  <div class="cell">
    <video src="{{stream.src}}" autoplay></video>
  </div>

  <div class="stream-controls"
       style="left: {{videoSurfaceLeft}}px; bottom: {{videoSurfaceBottom}}px; right: {{videoSurfaceRight}}px; width: {{videoSurfaceWidth}}px">

    <span ng-show="!stream.isLocal"
          ng-class="{
            'fa': true,
            'fa-volume-off': stream.isMuted,
            'volume-off': stream.isMuted,
            'fa-volume-up': !stream.isMuted,
            'volume-on': !stream.isMuted}"
          ng-click="toggleMute($event)"></span>

    <span ng-show="!stream.isLocal"
          ng-class="{
            'fa': true,
            'thumbs': true,
            'fa-thumbs-o-up': !stream.isVotedUp,
            'fa-thumbs-up': stream.isVotedUp,
            'thumbs-up': true,
            'thumbs-up-selected': stream.isVotedUp}"
          ng-click="toggleVoteUp()"></span>

    <span ng-show="!stream.isLocal"
          ng-class="{
            'fa': true,
            'thumbs': true,
            'fa-thumbs-o-down': !stream.isVotedDown,
            'fa-thumbs-down': stream.isVotedDown,
            'thumbs-down': true,
            'thumbs-down-selected': stream.isVotedDown}"
          ng-click="toggleVoteDown()"></span>

  </div>
</div>

<div ng-show="!haveSize">
Stream Interrupted!
</div>