[Unit]
Description=grafana.service

After=bootstrap.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull tutum/grafana:latest
ExecStart=/usr/bin/bash -c "INFLUXDB=$(/usr/bin/etcdctl get /services/influxdb/influxdb.service) INFLUXDB_HOST=$(echo $INFLUXDB | /usr/bin/awk -F':' '{print $1}') INFLUXDB_PORT=$(echo $INFLUXDB | /usr/bin/awk -F':' '{print $2}') && /usr/bin/docker run --rm --name=%n -p 80:80 -e HTTP_USER=root -e HTTP_PASS=root -e INFLUXDB_HOST=$INFLUXDB_HOST -e INFLUXDB_PORT=$INFLUXDB_PORT -e INFLUXDB_NAME=cadvisor tutum/grafana:latest"
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
MachineMetadata=role=grafana