instant-chat {
  position: absolute;

  top: 0%;
  left: 0%;

  height: 100%;
  width: 100%;

  .participants {
    height: 100%;
    width: 100%;
  }

  .participants-count-1 {
    .participant {
      position: absolute;

      height: 100%;
      width: 100%;
    }
  }

  .participants-count-2 {
    participant {
      position: absolute;

      height: 100%;
      width: 50%;
    }

    .participant-0 {
      top: 0%;
      left: 0%;
    }

    .participant-1 {
      top: 0%;
      left: 50%;
    }
  }

  .participants-count-3 {
    participant {
      position: absolute;

      height: 100%;
      width: 33.33%;
    }

    .participant-0 {
      top: 0%;
      left: 0%;
    }

    .participant-1 {
      top: 0%;
      left: 33.33%;
    }

    .participant-2 {
      top: 0%;
      left: 66.66%;
    }
  }

  .participants-count-4 {
    participant {
      position: absolute;

      height: 50%;
      width: 50%;
    }

    .participant-0 {
      top: 0%;
      left: 0%;
    }

    .participant-1 {
      top: 0%;
      left: 50%;
    }

    .participant-2 {
      top: 50%;
      left: 0%;
    }

    .participant-3 {
      top: 50%;
      left: 50%;
    }
  }

  .participants-count-5 {
    participant {
      position: absolute;

      height: 50%;
      width: 33.33%;
    }

    .participant-0 {
      top: 0%;
      left: 0%;
    }

    .participant-1 {
      top: 0%;
      left: 33.33%;
    }

    .participant-2 {
      top: 0%;
      left: 66.66%;
    }

    .participant-3 {
      top: 50%;
      left: 16.665%;
    }

    .participant-4 {
      top: 50%;
      left: 49.335%
    }
  }

  .participants-count-6 {
    participant {
      position: absolute;

      height: 59%;
      width: 33.33%;
    }

    .participant-0 {
      top: 0%;
      left: 0%;
    }

    .participant-1 {
      top: 0%;
      left: 33.33%;
    }

    .participant-2 {
      top: 0%;
      left: 66.66%;
    }

    .participant-3 {
      top: 50%;
      left: 0%;
    }

    .participant-4 {
      top: 50%;
      left: 33.33%;
    }

    .participant-5 {
      top: 50%;
      left: 66.66%;
    }
  }

  .streams-count-1 {
    .stream {
      height: 100%;
      width: 100%;
    }
  }

  .streams-count-2 {

  }

  .full-screen {
    position: absolute;

    top: 0%;
    left: 0%;

    margin: 0.5em;

    font-size: large;

    text-shadow: 0px 0px 10px #fff;

    cursor: pointer;
  }

  .error-message {
    position: absolute;

    top: 0%;
    left: 0%;
    right: 0%;

    height: 3em;

    text-align: center;

    font-size: xx-large;
    font-weight: bold;

    color: #fff;
    background-color: #a33;

    .close {
      position: absolute;
      top: 0%;
      right: 0%;

      padding: 1em;

      color: #000;
    }
  }
}