<div ng-class="{'instant-chat-content': true, 'hide-bars': hideBars}">
  <div class="top-bar">
    <div class="full-screen" ng-click="toggleFullscreen(); $event.stopPropagation()">
      <span class="fa fa-arrows-alt"></span> <span>{{fullscreenMessage}}</span>
    </div>
  </div>
  <div class="middle-bar">
    <div class="error-message" ng-show="errorMessage != null" ng-click="errorMessage = null">{{errorMessage}}</div>
    <div class="participants participants-count-{{activeParticipants.length}}">

      <participant ng-repeat="participant in activeParticipants"
        class="participant participant-{{$index}}" participant="participant">
      </participant>

    </div>
  </div>
  <div class="bottom-bar">
    <!-- <div class="tool add-camera" ng-show="sources.video.length > 1"> -->
    <div ng-click="toggleCameras(); $event.stopPropagation()"
         ng-class="{'tool': true,
                    'add-camera': true,
                    'is-active': camerasVisible}">
      <span class="plus">+</span><span class="fa fa-video-camera"></span>
    </div>

    <div ng-class="{'tool': true,
                    'show-menu': true,
                    'is-active': !menuIsCollapsed}">
      <span class="fa fa-bars" ng-click="expandMenu(); $event.stopPropagation()"></span>
    </div>
  </div>
</div>

<div class="cameras" ng-if="camerasVisible" ng-click="hideCameras(); $event.stopPropagation()">
  <div class="cameras-container">
    <div class="source video-source"
         ng-repeat="video in sources.video"
         ng-click="addCamera(video)">
      <span class="fa fa-video-camera"></span>
      <span class="source-label">{{video.label}}</span>
      <span ng-show="video.facing != '' && video.facing != null"> - {{video.facing}}</span>
    </div>
  </div>
</div>

<chat-menu ng-class="{'collapsed': menuIsCollapsed, 'expanded': !menuIsCollapsed}" config="config" current-room="currentRoom" ng-click="$event.stopPropagation()"></chat-menu>