<div class="participants participants-count-{{activeParticipants.length}}">

  <participant ng-repeat="participant in activeParticipants"
    class="participant participant-{{$index}}" participant="participant">
  </participant>

</div>

<div class="full-screen" ng-click="toggleFullscreen()">
  <span class="fa fa-arrows-alt"></span> <span>{{fullscreenMessage}}</span>
</div>

<div class="error-message" ng-show="errorMessage != null" ng-click="errorMessage = null">{{errorMessage}}</div>

<chat-menu config="config"></chat-menu>