[Unit]
Description=collectd.service

Requires=etcd.service
Requires=fleet.service
Requires=docker.service
Wants=collectd-dynamic-ambassador.service
Wants=collectd-influxdb-proxy.service

After=etcd.service
After=fleet.service
After=docker.service
After=collectd-dynamic-ambassador.service

[Service]
TimeoutStartSec=0
KillMode=none
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull instantchat/collectd
ExecStart=/usr/bin/docker run -v /proc:/proc:ro --link collectd-dynamic-ambassador.service:collectd-influxdb-proxy --name %n instantchat/collectd
ExecStop=/usr/bin/docker stop %n