@import '../../mixins.less';

@shadowSize: 7px;

@envelopeColor: #e66;
@envelopeShadowColor: #a33;
@keyframes envelopeColor {
  0% {
    color: #fff;
  }
  50% {
    color: @envelopeColor;
    text-shadow: 0px 0px @shadowSize #fff;
  }
  100% {
    color: #fff;
  }
}

@mobileColor: #3b3;
@mobileShadowColor: #3f3;
@keyframes mobileColor {
  0% {
    color: #fff;
  }
  50% {
    color: @mobileColor;
    text-shadow: 0px 0px @shadowSize #fff;
  }
  100% {
    color: #fff;
  }
}

@twitterColor: #55acee;
@twitterShadowColor: #33f;
@keyframes twitterColor {
  0% {
    color: #fff;
  }
  50% {
    color: @twitterColor;
    text-shadow: 0px 0px @shadowSize #fff;
  }
  100% {
    color: #fff;
  }
}

@facebookColor: #4c66a4;
@facebookShadowColor: #33f;
@keyframes facebookColor {
  0% {
    color: #fff;
  }
  50% {
    color: @facebookColor;
    text-shadow: 0px 0px @shadowSize #fff;
  }
  100% {
    color: #fff;
  }
}

@gplusColor: #dd4b38;
@gplusShadowColor: #f33;
@keyframes gplusColor {
  0% {
    color: #fff;
  }
  50% {
    color: @gplusColor;
    text-shadow: 0px 0px @shadowSize #fff;
  }
  100% {
    color: #fff;
  }
}

@collapseDuration: 0.4s;
@opacity: 0.85;

chat-menu {
  .menu-container {
    position: fixed;

    top: 0%;
    right: 0%;
    bottom: 0%;

    width: 30em;
    max-width: 100%;

    height: 100%;

    transform: scale(1);

    transition: top @collapseDuration ease, left @collapseDuration ease, bottom @collapseDuration ease, right @collapseDuration ease, transform @collapseDuration ease-out, width 0.5s ease;

    .overlay {
      width: 100%;
      height: 100%;

      background-color: rgba(16, 16, 16, 0.85);

      box-shadow: -5px 0px 10px rgba(16, 16, 16, 0.85);

      transition: background-color @collapseDuration ease, opacity @collapseDuration ease;
    }

    .menu-content {
      position: absolute;

      right: 0%;
      top: 0%;

      width: 100%;
      height: 100%;

      color: #fff;
      text-shadow: 0px 0px 5px #aaa;

      overflow-x: hidden;
      overflow-y: hidden;

      transition: left 0.5s ease, right 0.5s ease;

      .exit {
        position: absolute;

        top: 0.25em;
        left: 0.25em;

        font-size: 1.75em;

        cursor: pointer;

        color: #3d3;
        text-shadow: 0px 0px 5px #3d3;

        &:hover {
          color: #3f3;
          text-shadow: 0px 0px 6px #3f3;
        }
      }

      .header {
        height: 3em;
        width: 100%;

        text-align: center;

        .badge {
          .room-name {
            font-size: 3em;
            line-height: 1em;
          }
        }
      }

      .body {
        position: absolute;

        top: 3em;
        bottom: 4em;

        width: 100%;

        overflow-y: auto;
        overflow-x: hidden;

        .panel {
          display: block;
          position: absolute;

          top: 0%;
          left: 0%;

          width: 100%;
          height: 100%;

          backface-visibility: hidden;
          transition: transform 0.33s ease;

          &.ng-enter,
          &.ng-leave.ng-leave-active {
            transform: rotateY(-180deg);
          }

          &.ng-leave,
          &.ng-enter.ng-enter-active {
            transform: rotateY(0deg);
          }
        }

        .main {
          .menu-items {
            margin-top: 2em;

            text-align: center;

            .invite {
              display: block;

              font-size: 1.5em;
            }

            ul {
              margin: 0 auto;
              padding: 0;

              width: inherit;

              list-style: none;

              li {
                display: inline-block;

                font-size: medium;

                cursor: pointer;

                a {
                  display: inline-block;

                  text-decoration: none;
                  color: inherit;

                  .fa {
                    font-size: 3em;
                  }
                }

                &:hover {
                  text-shadow: 0px 0px 25px #fff;
                }

                &:not(:last-child) {
                  margin-right: 2em;
                }
              }
            }
          }

          .participants-list {
            margin-top: 2em;
            margin-left: 1em;
            margin-right: 1em;

            padding: 0.25em;

            background-color: rgba(0, 0, 0, 0.1);

            overflow: auto;

            .participants-count {
              font-size: 0.9em;
              line-height: 1em;
            }

            .participant {
              display: table;
              width: 100%;

              margin-top: 0.5em;

              overflow: auto;

              background-color: rgba(0, 0, 0, 0.2);

              .thumbnail {
                display: table-cell;
                width: 8em;

                float: left;
              }

              .local-participant {
                display: table-cell;
                margin-left: 1em;
                width: auto;

                line-height: 1em;

                vertical-align: middle;

                .name-input {
                  // width: 100%;

                  line-height: 1em;

                  color: #fff;
                  text-shadow: 0px 0px 5px #333;

                  background: transparent;
                  border: none;

                  &[placeholder]:empty:before {
                    content: attr(placeholder);
                    color: #dff;
                  }

                  &:focus {
                    outline: none;
                  }
                }

                .permission {
                  display: inline-block;

                  width: auto;

                  margin-top: 1em; // Figure out how to get rid of these?

                  font-size: 0.9em;

                  text-shadow: 0px 0px 5px #333;

                  input, span {
                    vertical-align: middle;
                  }

                  .front-page,
                  .front-page:visited {
                    color: #09f;
                    font-weight: bolder;
                    text-shadow: 0px 0px 5px #036;
                  }
                }
              }

              .remote-participant {
                display: inline-block;
                marign-left: 1em;
              }
            }
          }
        }
      }

      .footer {
        position: absolute;

        bottom: 0%;

        height: 3em;
        width: 100%;

        .trigger {
          position: absolute;

          height: 100%;

          font-size: 2.25em;

          vertical-align: middle;

          cursor: pointer;

          span {
            vertical-align: middle;
          }

          &.settings-trigger {
            left: 0%;
            right: 66.66%;

            padding-left: 1em;

            text-align: left;

            text-shadow: 0px 0px 5px #db0;

            &:hover,
            &.settings-visible {
              color: #db0;
              text-shadow: 0px 0px 25px #db0;
            }
          }

          &.feedback-trigger {
            left: 33.33%;
            right: 33.33%;

            text-align: center;

            text-shadow: 0px 0px 5px #0fb;

            &:hover,
            &.feedback-visible {
              color: #0fb;
              text-shadow: 0px 0px 25px #0fb;
            }
          }

          &.rooms-trigger {
            left: 66.66%;
            right: 0%;

            padding-right: 1em;

            text-align: right;

            text-shadow: 0px 0px 5px #0bf;

            &:hover,
            &.rooms-visible {
              color: #0bf;
              text-shadow: 0px 0px 25px #0bf;
            }
          }
        }
      }
    }
  }

  &.expanded {

    .menu-items {
      ul {
        li {
          .fa {transition: transform 1s ease;}

          &.activated {
            .fa {
              transform: rotateY(720deg);
            }
          }

          &:hover {
            .fa-envelope { color: @envelopeColor; }
            .fa-mobile { color: @mobileColor; }
            .fa-twitter { color: @twitterColor; }
            .fa-facebook { color: @facebookColor; }
            .fa-google-plus { color: @gplusColor; }
          }

          @highlightDuration: 1.5s;
          @initialDelay: 1.5s;
          @delayDuration: 0.75s;
          .fa-envelope {
            animation: envelopeColor @highlightDuration @initialDelay ease;
          }

          .fa-mobile {
            animation: mobileColor @highlightDuration (@initialDelay + 1 * @delayDuration) ease;
          }

          .fa-twitter {
            animation: twitterColor @highlightDuration (@initialDelay + 2 * @delayDuration) ease;
          }

          .fa-facebook {
            animation: facebookColor @highlightDuration (@initialDelay + 3 * @delayDuration) ease;
          }

          .fa-google-plus {
            animation: gplusColor @highlightDuration (@initialDelay + 4 * @delayDuration) ease;
          }
        }
      }
    }
  }

  &.collapsed {
    .menu-container {
      right: -100%;
      bottom: -100%;

      backface-visibility: hidden;
      transform: scale(0);

      .overlay {
        background-color: #bddfff;
        opacity: 0;
      }
    }
  }
}