@collapseDuration: 0.4s;

chat-menu {
  .menu-container {
    .expanded-view {
      position: absolute;

      right: 0%;
      bottom: 0%;

      width: 40%;
      height: 100%;

      transform: scale(1);

      transition: bottom @collapseDuration ease, right @collapseDuration ease, transform @collapseDuration ease-in;

      .overlay {
        width: 100%;
        height: 100%;

        background-color: #333;

        opacity: 0.5;

        transition: background-color @collapseDuration ease, opacity @collapseDuration ease;
      }

      .menu-content {
        position: absolute;

        left: 0%;
        top: 0%;

        width: 100%;
        height: 100%;

        text-align: center;

        padding-top: 1em;

        color: #fff;
        text-shadow: 0px 0px 15px #bddfff;

        .badge {
          font-size: xx-large;
        }

        .menu-items {
          margin-top: 2em;

          text-align: left;

          ul {
            margin: 0 auto;

            width: inherit;

            list-style: none;

            a {
              text-decoration: none;
              color: inherit;
            }

            li {
              display: block;

              font-size: x-large;

              cursor: pointer;
            }

            li:not(:last-child) {
              margin-bottom: 1em;
            }
          } 
        }
      }
    }

    &.collapsed .expanded-view {
      right: -40%;
      bottom: -100%;
      transform: scale(0);

      .overlay {
        background-color: #bddfff;
        opacity: 0;
      }
    }

    .collapsed-view {
      position: absolute;

      right: 0%;
      bottom: 0%;

      height: 0%;
      width: 0%;

      text-align: center;

      color: #fff;

      cursor: pointer;

      transition: width @collapseDuration ease, height @collapseDuration ease;

      .overlay {
        width: 100%;
        height: 100%;

        background-color: #333;

        opacity: 0.5;
      }

      .glyph-table {
        position: absolute;

        top: 0%;
        left: 0%;

        width: 100%;
        height: 100%;

        display: table;

        .glyph {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &.collapsed .collapsed-view {
      height: 3em;
      width: 3em;
    }
  }
}