
  <div ng-class="{'menu-container': true,
                  'settings-visible': settingsVisible,
                  'feedback-visible': feedbackVisible,
                  'rooms-visible': roomsVisible}"
       ng-mouseenter="mouseEnterExpandedView()"
       ng-mouseleave="mouseLeftExpandedView()">

    <div class="overlay"></div>

    <div class="menu-content" ng-click="collapse()">
      <div class="header">
        <div class="badge" ng-click="$event.stopPropagation()">
          <div class="room-name">#{{currentRoom.name}}</div>
          <ng-pluralize
            class="participants-count"
            count="activeParticipants.length"
            when="{'0': 'Nobody is here (not even you!)',
                   '1': '1 Participant',
                   'other': '{} Participants'}"></ng-pluralize>
        </div>
      </div>

      <div class="body">

        <div class="menu-items">
          <ul>
            <li ng-click="$event.stopPropagation()">
              <a href="mailto:?subject={{emailSubject}}&body={{emailBody()}}"
                 target="_blank"><span class="fa fa-envelope"></span></a>
            </li>

            <li ng-click="$event.stopPropagation()">
              <a href="sms:?body={{smsBody()}}"
                 target="_blank"><span class="fa fa-mobile"></span></a>
            </li>

            <li ng-click="$event.stopPropagation()">
              <a href="https://twitter.com/share?url={{inviteLink()}}&text={{inviteText}}" target="_blank"><span class="fa fa-twitter"></span></a>
            </li>

            <li ng-click="$event.stopPropagation()">
              <a href="https://facebook.com/dialog/feed?app_id=1443412259259623&display=popup&link={{inviteLink()}}&redirect_uri={{inviteLink()}}&caption={{inviteText}}" target="_blank"><span class="fa fa-facebook"></span></a>
            </li>

            <li ng-click="$event.stopPropagation()">
              <a href="https://plus.google.com/share?url={{inviteLink()}}" target="_blank"><span class="fa fa-google-plus"></span></a>
            </li>
          </ul>

          <span class="invite">Invite Someone</span>
        </div>

        <div class="thumbnail-container">
          <img class="local-thumbnail" ng-src="{{localThumbnailSrc}}" ng-click="$event.stopPropagation()">
          <label class="permission" ng-click="$event.stopPropagation()"><input type="checkbox" ng-model="havePermissionForFrontPage"> <span>Use My Image On The <a href="https://instachat.io" class="front-page" target="_blank">Front Page</a></span></label>
        </div>

        <div class="name-input">
          <input type="text"
                 placeholder="What's Your Name?"
                 focus-on="!isCollapsed && (config.participantName == null || config.participantName == undefined || config.participantName == '')"
                 ng-model="participantName"
                 ng-click="$event.stopPropagation()"
                 ng-blur="participantNameBlur()">
        </div>
      </div>

      <div class="footer" ng-click="$event.stopPropagation()">
        <div class="trigger settings-trigger" ng-click="triggerSettings()">
          <span class="fa fa-cog"></span>
        </div>
        <div class="trigger feedback-trigger" ng-click="triggerFeedback()">
          <span class="fa fa-comments"></span>
        </div>
        <div class="trigger rooms-trigger" ng-click="triggerRooms()">
          <span class="fa fa-building-o"></span>
        </div>
      </div>
    </div>

    <settings ng-if="settingsVisible"></settings>
    <feedback ng-if="feedbackVisible"></feedback>
    <room-list ng-if="roomsVisible"</room-list>
  </div>