[Unit]
Description=collectd-influxdb-proxy-docker-register.service

Requires=etcd-ambassador.service

After=etcd-ambassador.service
After=collectd-influxdb-proxy.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull polvi/docker-register
ExecStart=/usr/bin/docker run --link etcd-ambassador.service:etcd -v /var/run/docker.sock:/var/run/docker.sock --name %n -rm polvi/docker-register collectd-influxdb-proxy.service 8079 collectd-influxdb-proxy
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineOf=etcd-ambassador.service
MachineOf=collectd-influxdb-proxy.service