#!/bin/bash

#DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

cd /home/core

# {{#services}}
# fleetctl submit {{name}}.service
# {{/services}}

# {{#services}}
# fleetctl start {{name}}.service
# {{/services}}

until fleetctl list-units; do echo 'fleet not ready...sleeping' && sleep 1; done

fleetctl submit *

fleetctl start *