[Unit]
Description=cadvisor@%i.service

After=etcd.service
After=fleet.service
After=docker.service
After=influxdb.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull google/cadvisor:latest
ExecStart=/usr/bin/bash -c "INFLUXDB=$(/usr/bin/etcdctl get /services/influxdb/influxdb.service) && /usr/bin/docker run --rm --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8080:8080 --name=%n google/cadvisor:latest -storage_driver=influxdb -log_dir=/ -storage_driver_host=$INFLUXDB"
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
Global=true