settings {
  .sources {
    margin: 0 1em;

    .audio-sources,
    .video-sources {
      width: inherit;
      margin: 1em auto;
      padding: 1em;

      color: #000;
      background-color: #fff;
    }
  }
}