[Unit]
Description=influxdb-docker-register.service

After=etcd-ambassador.service
After=influxdb.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull polvi/docker-register
ExecStart=/usr/bin/docker run --link etcd-ambassador.service:etcd -v /var/run/docker.sock:/var/run/docker.sock --name %n --rm polvi/docker-register influxdb.service 8086 influxdb
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
X-ConditionMachineOf=influxdb.service