
  <div ng-class="{'menu-container': true,
                  'settings-visible': settingsVisible,
                  'feedback-visible': feedbackVisible,
                  'rooms-visible': roomsVisible}"
       ng-mouseenter="mouseEnterExpandedView()"
       ng-mouseleave="mouseLeftExpandedView()">

    <div class="overlay"></div>

    <div class="menu-content">
      <span class="fa fa-reply exit" ng-click="collapse()"></span>
      <div class="header">
        <div class="badge">
          <div class="room-name">#{{currentRoom.name}}</div>
        </div>
      </div>

      <div class="body">
        <div ng-if="mainVisible" class="main panel">
          <div class="menu-items">
            <ul>
              <li>
                <a href="mailto:?subject={{emailSubject}}&body={{emailBody()}}"
                   target="_blank"><span class="fa fa-envelope"></span></a>
              </li>

              <li>
                <a href="sms:?body={{smsBody()}}"
                   target="_blank"><span class="fa fa-mobile"></span></a>
              </li>

              <li>
                <a href="https://twitter.com/share?url={{inviteLink()}}&text={{inviteText}}" target="_blank"><span class="fa fa-twitter"></span></a>
              </li>

              <li>
                <a href="https://facebook.com/dialog/feed?app_id=1443412259259623&display=popup&link={{inviteLink()}}&redirect_uri={{inviteLink()}}&caption={{inviteText}}" target="_blank"><span class="fa fa-facebook"></span></a>
              </li>

              <li>
                <a href="https://plus.google.com/share?url={{inviteLink()}}" target="_blank"><span class="fa fa-google-plus"></span></a>
              </li>
            </ul>

            <span class="invite">Invite Someone</span>
          </div>

          <button ng-click="broadcast()">BROADCAST</button>

          <div class="participants-list">
            <ng-pluralize
                class="participants-count"
                count="activeParticipants.length"
                when="{'0': 'Nobody is here (not even you!)',
                       '1': '1 Person Here',
                       'other': '{} People Here'}"></ng-pluralize>

            <div class="participant" ng-repeat="participant in participants">
              <img class="thumbnail" ng-src="{{participant.thumbnailSrc}}">
              <!-- <video ng-if="participant.streams.length > 0" ng-src="{{participant.streams[0].src}}" autoplay></video> -->

              <div ng-if="participant.isLocal" class="local-participant">
                <div contenteditable
                     placeholder="What's Your Name?"
                     class="name-input"
                     fit-text
                     focus-on="!isCollapsed && (participant.config.name == null || participant.config.name == undefined || participant.config.name == '')"
                     ng-model="participant.config.name"
                    ></div>

                <label class="permission">
                  <input type="checkbox" ng-model="havePermissionForFrontPage"> <span>Use My Image On The <a href="https://instachat.io" class="front-page" target="_blank">Front Page</a></span>
                </label>
              </div>

              <div ng-if="!participant.isLocal" class="remote-participant">
                <span class="name">{{participant.config.name}}</span>
              </div>
            </div>

          </div>

        </div>

        <settings ng-if="settingsVisible" class="panel"></settings>

        <feedback ng-if="feedbackVisible" class="panel"></feedback>

        <room-list ng-if="roomsVisible" class="panel"></room-list>

      </div>

      <div class="footer">
        <div ng-class="{'trigger': true,
                        'settings-trigger': true,
                        'settings-visible': settingsVisible}" ng-click="triggerSettings()">
          <span class="fa fa-cog"></span>
        </div>
        <div ng-class="{'trigger': true,
                        'feedback-trigger': true,
                        'feedback-visible': feedbackVisible}" ng-click="triggerFeedback()">
          <span class="fa fa-comments"></span>
        </div>
        <div ng-class="{'trigger': true,
                        'rooms-trigger': true,
                        'rooms-visible': roomsVisible}" ng-click="triggerRooms()">
          <span class="fa fa-globe"></span>
        </div>
      </div>

    </div>
  </div>