[Unit]
Description=instachat.io broadcaster
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill broadcaster_
ExecStartPre=-/usr/bin/docker rm broadcaster_
ExecStartPre=/usr/bin/docker pull blakelapierre/broadcaster_
ExecStart=/usr/bin/docker run --privileged --name broadcaster%i blakelapierre/broadcaster_