[Unit]
Description=broadcaster@%i

After=etcd.service
After=fleet.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %p.%i
ExecStartPre=-/usr/bin/docker rm %p.%i
ExecStartPre=-/usr/bin/docker pull instantchat/broadcaster
ExecStart=/usr/bin/docker run --name=%p.%i --rm --privileged instantchat/broadcaster
ExecStop=/usr/bin/docker stop %p.%i

[X-Fleet]
MachineMetadata=role=broadcaster